<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OrderList</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
  />
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav pl-2">
    <li class="nav-brand active">
      <a class="nav-link" href="/employee/">OrderList</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/employee/history">History Today</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Đăng xuất</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1>Danh sách đặt hàng</h1>
  <table class="table table-bordered" style="width: 80%; margin-bottom: 80px" th:each="user, iStat:${receipts}">
    <tbody>
    <tr>
      <th scope="row" th:text="${iStat.count}">1</th>
      <td th:text="'Tên: '+${user.fullName}">1</td>
      <td th:text="'Số điện thoại: '+${user.phoneNumber}">1</td>
      <td th:text="'Địa chỉ: '+${user.address}">1</td>
      <td th:text="'Thời gian: '+${user.getUpdateAt().split(' ')[1]}">1</td>
    </tr>
    <tr>
      <th colspan="4" style="text-align: center">Danh sách sản phẩm</th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">STT</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Số lượng</th>
      <!--<th scope="col">Thời gian tạo</th>
      <th scope="col">Thời gian cập nhật</th>
      <th colspan="2">Chức năng</th>-->
    </tr>
    <tr th:each="item, itemStat:${user.getCart().getCartItems()}">
      <td></td>
      <th scope="row" th:text="${itemStat.count}">1</th>
      <td th:text="${item.product.name}"></td>
      <td th:text="${item.quantity}"></td>
    </tr>
    <tr>
      <th colspan="4"></th>
      <th>
        <form method="post" th:action="'/employee/delivered/' + ${user.id}">
          <button type="submit" class="btn btn-success">Đã giao</button>
        </form>
      </th>
    </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" th:each="item:${receipts}" th:attr="id='accountModel'+${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa người dùng <b th:text="${item.fullName}"></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <form method="post" th:action="'/admin/user/delete/' + ${item.id}">
          <button type="submit" class="btn btn-danger" data-toggle="modal">Xóa</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
