<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh mục sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav pl-2">
        <li class="nav-brand active">
            <a class="nav-link" href="/admin/">ADMIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user">Người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product">Sản phẩm</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/admin/category">Phân loại sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/logout">Đăng xuất</a>
        </li>
    </ul>
</nav>
<div class="container">
    <h3>Danh mục sản phẩm</h3>
    <table class="table table-bordered" style="width: 80%">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col">Thời gian cập nhật</th>
            <th colspan="2">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, iStat:${categories}">
            <th scope="row" th:text="${iStat.count}">1</th>
            <td th:text="${category.getName()}">1</td>
            <td th:text="${category.getCreatedAt()}">1</td>
            <td th:text="${category.getUpdatedAt()}">1</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" th:attr="data-target='#editModel'+${category.id}" ><a>Chỉnh sửa</a></button>
                <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#accountModel'+${category.id}" ><a>Xóa</a></button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <br>
    <div class="category">
        <h3>Thêm danh mục sản phẩm</h3>
        <form th:action="@{/admin/category}" method="post" th:object="${category}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Tên danh mục</label>
                    <input name = "name" type="text" class="form-control" id="inputEmail4" placeholder="Nhập tên danh mục">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" th:each="category:${categories}" th:attr="id='accountModel'+${category.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa danh mục <b th:text="${category.name}"></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form method="post" th:action="'/admin/category/delete/' + ${category.id}">
                    <button type="submit" class="btn btn-danger" data-toggle="modal">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:each="category:${categories}" th:attr="id='editModel'+${category.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" th:action="'/admin/category/edit/' + ${category.id}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label> Tên phân loại:
                        <input name="name" th:value="${category.name}">
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" data-toggle="modal">Sửa</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<style>
    .btn a{
        text-decoration: none;
        color: white;
    }
</style>
</html>