<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sản phẩm</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav pl-2">
    <li class="nav-brand active">
      <a class="nav-link" href="/admin/">ADMIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user">Người dùng</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/admin/product">Sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">Phân loại sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Đăng xuất</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1>Danh sách sản phẩm</h1>
  <h4>Thêm sản phẩm mới <a href="/admin/product/add">tại đây</a></h4>
  <div class="form">
    <form action="/admin/product/search" method="get">
      <input type="hidden" name="sortField" value="name">
      <input type="hidden" name="sortDir" value="asc">
      Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"  />
      &nbsp;
      <input class="btn btn-success" type="submit" value="Search" />
      &nbsp;
      <input class="btn btn-danger" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
  </div>
  <div class="list">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th th:if="${sortDir == 'asc'}" scope="col" ><a th:href="@{'/admin/product/0?sortField=name&sortDir=desc'}">Tên sản phẩm</a></th>
        <th th:if="${sortDir == 'desc'}" scope="col" ><a  th:href="@{'/admin/product/0?sortField=name&sortDir=asc'}">Tên sản phẩm</a></th>
        <th scope="col">Ảnh</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Thời gian cập nhật</th>
        <th colspan="2">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product, iStat:${productsList}">
        <th scope="row" th:text="${iStat.count}">1</th>
        <td th:text="${product.name}"></td>
        <td>
          <img th:src="@{'/getimage/'+${product.getFirstImage()}}" width="70px" height="70px">
        </td>
        <td th:text="${product.getCreatedAt()}">1</td>
        <td th:text="${product.getUpdatedAt()}">1</td>
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal"  th:attr="data-target='#modalProductDetail'+${product.id}" >Chỉnh sửa</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#accountModel'+${product.id}" ><a>Xóa</a></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${currentPage != null}" class="paging">
    <ul class="pagination justify-content-center">
      <li th:if="${currentPage!=0}" class="page-item">
        <a th:if="${keyword == null && sortDir=='asc'}"
           th:href="@{'/admin/product/'+${currentPage - 1}+ '?sortField=name&sortDir=asc'}" class="page-link" href="#">Previous</a>
        <a th:if="${keyword == null && sortDir=='desc'}"
           th:href="@{'/admin/product/'+${currentPage - 1}+ '?sortField=name&sortDir=desc'}" class="page-link" href="#">Previous</a>
        <a th:if="${keyword != null}"
           th:href="@{'/admin/product/'+${currentPage - 1}}" class="page-link" href="#">Previous</a>
      </li>
      <li th:each="i: ${#numbers.sequence(1,totalPages)}"  class="page-item">
        <a th:if="${keyword == null && sortDir=='asc'}" th:href="@{'/admin/product/'+ ${i - 1} + '?sortField=name&sortDir=asc'}" th:style="${i - 1 == currentPage} ? 'color:black'" class="page-link" href="#"><span th:text="${i}"></span></a>
        <a th:if="${keyword == null && sortDir=='desc'}" th:href="@{'/admin/product/'+ ${i - 1} + '?sortField=name&sortDir=desc'}" th:style="${i - 1 == currentPage} ? 'color:black'" class="page-link" href="#"><span th:text="${i}"></span></a>
        <a th:if="${keyword != null}" th:href="@{'/admin/product/'+ ${i - 1} +'?keyword=' + ${keyword}}" class="page-link" href="#"><span th:text="${i}"></span></a>
      </li>
      <li th:if="${currentPage + 1 != totalPages}" class="page-item">
        <a th:if="${keyword == null && sortDir == 'asc'}" th:href="@{'/admin/product/'+ ${currentPage + 1} + '?sortField=name&sortDir=asc'}" class="page-link" href="#"><span>Next</span></a>
        <a th:if="${keyword == null && sortDir == 'desc'}" th:href="@{'/admin/product/'+ ${currentPage + 1} + '?sortField=name&sortDir=desc'}" class="page-link" href="#"><span>Next</span></a>
        <a th:if="${keyword != null}" th:href="@{'/admin/product/'+ ${currentPage + 1} +'?keyword=' + ${keyword}}" class="page-link" href="#"><span>Next</span></a>
      </li>
    </ul>
  </div>
</div>
<!-- Button trigger modal -->

<!-- Modal Detail -->
<div class="modal fade" th:each="product:${productsList}" th:attr="id='modalProductDetail'+${product.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thông tin sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="formModal" th:action="${'/admin/product/edit/'+ product.id}" method="post" th:object="${product}" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Tên sản phẩm</label>
              <input name = "name" type="text" class="form-control" id="inputEmail4"  placeholder="Nhập tên sản phẩm" th:value="${product.getName()}">
            </div>
            <div class="form-group col-md-4">
              <label for="inputPrice">Giá sản phẩm</label>
              <input name="price" type="number" class="form-control" id="inputPrice" th:value="${product.getPrice()}">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Mô tả</label>
            <input name="description" type="text" class="form-control"  id="description" placeholder="Nhập mô tả sản phẩm" th:value="${product.getDescription()}">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Loại sản phẩm</label>
              <select name="category" id="inputState" class="form-control">
                <option th:each="category:${categories}" th:text="${category.getName()}" th:value="${category.getId()}">Choose</option>
              </select>
            </div>
          </div>
          <label>Ảnh sản phẩm - Thứ nhất</label>
          <div class="form-group">
            <div class="form-group col-md-6">
              <input type="file" class="custom-file-input" id="customFile" name="image1" accept="image/png, image/jpeg">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <img th:src="@{'/getimage/'+${product.getFirstImage()}}" width="70px" height="70px">
          </div>
          <label>Ảnh sản phẩm - Thứ hai</label>
          <div class="form-group">
            <div class="form-group col-md-6">
              <input type="file" class="custom-file-input" id="customFile2" name="image2" accept="image/png, image/jpeg">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <img th:src="@{'/getimage/'+${product.getSecondImage()}}" width="70px" height="70px">
          </div>
          <label>Ảnh sản phẩm - Thứ ba</label>
          <div class="form-group">
            <div class="form-group col-md-6">
              <input type="file" class="custom-file-input" id="customFile3" name="image3" accept="image/png, image/jpeg">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <img th:src="@{'/getimage/'+${product.getThirdImage()}}" width="70px" height="70px">
          </div>
          <button type="submit" class="btn btn-primary">Sửa sản phẩm</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" th:each="product:${productsList}" th:attr="id='accountModel'+${product.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa sản phẩm <b th:text="${product.name}"></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <form method="post" th:action="'/admin/product/delete/' + ${product.id}">
          <button type="submit" class="btn btn-danger" data-toggle="modal">Xóa</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay ="2000" th:hidden="!${message}">
  <div class="toast-header">
    <strong class="mr-auto">Thông báo</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" th:text="${message}">
  </div>
</div>
</body>
<style>
  .btn a{
    text-decoration: none;
    color: white;
  }

</style>
<script>
  $(document).ready(function (){
    $(".toast").toast("show")
  })


</script>

<script type="text/javascript">
  function clearSearch() {
    window.location = "/admin/product/0?sortField=name&sortDir=asc";
  }
  $(".custom-file-input").on("change", function() {
    const fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
</html>