<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách người dùng</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav pl-2">
    <li class="nav-brand active">
      <a class="nav-link" href="/admin/">ADMIN</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/admin/user">Người dùng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product">Sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">Phân loại sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Đăng xuất</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1>Danh sách người dùng</h1>
  <div class="form">
    <form action="/admin/user/search" method="get">
      Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
      &nbsp;
      <input class="btn btn-success" type="submit" value="Search" />
      &nbsp;
      <input class="btn btn-danger" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
  </div>
  <table class="table table-bordered" style="width: 80%">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Email</th>
      <th scope="col">Vai trò</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col">Thời gian cập nhật</th>
      <th colspan="2">Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account, iStat:${accountList}">
      <th scope="row" th:text="${iStat.count}">1</th>
      <td th:text="${account.getEmail()}">1</td>
      <td th:text="${account.getRole()}">1</td>
      <td th:text="${account.isActive()}">1</td>
      <td th:text="${account.getCreateAt()}">1</td>
      <td th:text="${account.getUpdateAt()}">1</td>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" th:attr="data-target='#editModel'+${account.id}" ><a>Chỉnh sửa</a></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" th:each="account:${accountList}" th:attr="id='editModel'+${account.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" th:action="'/admin/user/' + ${account.id}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Xác nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="roles">Vai trò:</label>
          <select id="roles" th:name="role">
            <option th:if="${account.role == 'ROLE_USER'}"  th:value="'ROLE_USER'" th:text="USER" selected></option>
            <option th:if="${account.role == 'ROLE_ADMIN'}" th:value="'ROLE_ADMIN'" th:text="ADMIN" selected></option>
            <option th:if="${account.role == 'ROLE_EMPLOYEE'}" th:value="'ROLE_EMPLOYEE'" th:text="EMPOYEE" selected></option>
            <option th:if="${account.role != 'ROLE_ADMIN'}" th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
            <option th:if="${account.role != 'ROLE_USER'}" th:value="'ROLE_USER'" th:text="USER"></option>
            <option th:if="${account.role != 'ROLE_EMPLOYEE'}" th:value="'ROLE_EMPLOYEE'" th:text="EMPLOYEE"></option>
          </select>
          <label for="status">Trạng thái: </label>
          <select id="status" th:name="status">
            <option th:if="${account.active == true}" th:value="true" th:text="Active" selected></option>
            <option th:if="${account.active == false}" th:value="false" th:text="Unactive" selected></option>
            <option th:if="${account.active != true}" th:value="true" th:text="Active"></option>
            <option th:if="${account.active != false}" th:value="false" th:text="Unactive"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-success" data-toggle="modal">Sửa</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
<style>
  .btn a{
    text-decoration: none;
    color: white;
  }
</style>
<script type="text/javascript">
  function clearSearch() {
    window.location = "/admin/user";
  }
</script>
</html>